
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

.text-justify{
    text-align:justify !important;
}

.logo-html, .logo-css, .logo-js{
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-html{

    background-image: url(../img/logo-html-css-js.png);
    background-position: 10px;
}

.logo-css{

    background-image: url(../img/logo-html-css-js.png);
    background-position: -90px;
}

.logo-js{

    background-image: url(../img/logo-html-css-js.png);
    background-position: -200px;
}

.titulo-pagina{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    padding-top: 50px;
}
.carousel-inner{
    height: 420px;
}